.sm-clock{
	width: 250px;
	height: 250px;
	background-color:red;	
	position:relative; 
  padding: 24px;
  box-sizing: border-box;
   background: #ededed;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%; 
  .sm-clock-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  	.hour-number{
      margin: 0;
  		position: absolute;
  		display:block;
  		transform: translate(-50%, -50%);
      z-index:2;                   
  	}
        .hour-number11 {
            top: 0;
            left: 50%
        }

        .hour-number0 {
            top: 6.69872981%;
            left: 75%
        }

        .hour-number1 {
            top: 25%;
            left: 93.30127019%
        }

        .hour-number2 {
            top: 50%;
            left: 100%
        }

        .hour-number3 {
            top: 75%;
            left: 93.30127019%
        }

        .hour-number4 {
            top: 93.30127019%;
            left: 75%
        }

        .hour-number5 {
            top: 100%;
            left: 50%
        }

        .hour-number6 {
            top: 93.30127019%;
            left: 25%
        }

        .hour-number7 {
            top: 75%;
            left: 6.69872981%
        }

        .hour-number8 {
            top: 50%;
            left: 0
        }

        .hour-number9 {
            top: 25%;
            left: 6.69872981%
        }

        .hour-number10 {
            top: 6.69872981%;
            left: 25%
        }

        .hour-number360 {
            top: 0;
            left: 50%
        }
    } 
    .sm-clock-center {
        min-height: 0px;
        height: 6px;
        width: 6px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
    }
    .sm-clock-hand{
        position: absolute;
        height: 50%;
        width: 3px;
        margin: 0 auto;
        transform-origin: top center;
/*         transition: all .5s linear;
        animation-fill-mode: forwards; */
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;             
      &.sm-clock-hand-0{
        transform: rotate(210deg);
      }
      &.sm-clock-hand-1{
          transform: rotate(240deg);
      }
      &.sm-clock-hand-2{
          transform: rotate(270deg);
      }
      &.sm-clock-hand-3{
          transform: rotate(300deg);
      }
      &.sm-clock-hand-4{
          transform: rotate(330deg);
      }
      &.sm-clock-hand-5{
          transform: rotate(360deg);
      }
      &.sm-clock-hand-6{
          transform: rotate(30deg);
      }
      &.sm-clock-hand-7{
          transform: rotate(60deg);
      }                       
      &.sm-clock-hand-8{
          transform: rotate(90deg);
      }                       
      &.sm-clock-hand-9{
          transform: rotate(120deg);
      }                       
      &.sm-clock-hand-10{
          transform: rotate(150deg);
      }                       
      &.sm-clock-hand-11{
          transform: rotate(180deg);
      }                                                                  
    }


}

