{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "rules": {
    "block-scoped-var": 2,
    "no-eval": 2,
    "no-eq-null": 2,
    "no-case-declarations": 2,
    "no-alert": 1,
    "no-console": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "indent": 1,
    "no-unused-vars": 1,
    "quotes": [2, "single"],

    "angular/on-watch": 0,

    "strict": 1,

    "no-shadow-restricted-names": 2,

    "array-bracket-spacing": 1,
    "camelcase": [1, {properties: "never"}],
    "comma-style": 1,
    "comma-spacing": 1
  },
  "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
          "experimentalObjectRestSpread": true
      }
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
