<form name="empForm">
<md-content  class="md-whiteframe-z2" layout-padding>
    <div layout="row">
        DateTime picker, week start date is Monday    
    </div>
    <div layout="row">
        DateTime picker, week start date is Monday    
    </div>
    <div  layout="row"> 
            <sm-date-time-picker 
                fname="field" 
                lable="Date of Birth"
                form="empForm" 
                value="vm.employee.dateOfBirth" 
                flex="50"
                flex-sm="100"
                flex-xs="100"                          
                is-required="{{true}}" 
                format="MM-DD-YYYY HH:mm"
                mode="date-time" 
                week-start-day="Monday">
            </sm-date-time-picker>
    </div>

    <div layout="row">
        Date picker, Close on date select only works with &nbsp;<b> Date Picker </b>&nbsp; mode with attribute &nbsp;<b> close-on-select="true"</b>
    </div>
    <div   layout="row">
            <sm-date-time-picker 
                fname="exitDate" 
                lable="Date of Exit"
                form="empForm" 
                value="vm.employee.exitDate" 
                flex="50"
                flex-sm="100"
                flex-xs="100"                          
                close-on-select="true"                                                          
                is-required="{{true}}" 
                format="MM-DD-YYYY" 
                week-start-day="Monday">
            </sm-date-time-picker>
    </div>    
    <div layout="row">
        Min date set to {{vm.minDate}}    
    </div>
    <div   layout="row">
            <sm-date-time-picker 
                fname="Date of Pay" 
                lable="Date of Pay"
                form="empForm"
                min-date="{{vm.minDate}}" 
                value="vm.employee.dateOfPay" 
                flex="50"                         
                is-required="{{true}}" 
                format="MM-DD-YYYY HH:mm"
                mode="date-time" 
                week-start-day="Sunday">
            </sm-date-time-picker>        
    </div>   
    <div layout="row">
        Date picker, Max date set to {{vm.maxDate}} and week start date is Sunday
    </div>
    <div   layout="row">
            <sm-date-time-picker 
                fname="joiningDate" 
                lable="Date of Joining"
                form="empForm" 
                value="vm.employee.joiningDate" 
                data-start-date="10-15-2015"
                flex="50"
                flex-sm="100"
                flex-xs="100"                          
                max-date="{{vm.maxDate}}"
                is-required="{{true}}" 
                format="MM-DD-YYYY" 
                week-start-day="Sunday">
            </sm-date-time-picker>
    </div>    
<!--     <div layout="row">
    {{vm.currentDate}}
        <md-button class="md-button md-raised " ng-click="vm.showCalander($event)">show Calander</md-button>
    </div> -->

</md-content>
</form>