<div ng-message="invalid">User Id or Password is incorrect</div>
<div ng-message="required">Required.</div>
<div ng-message="minlength">Min Lenght should be {{minlength}}</div> 
<div ng-message="maxlength">Max lenght should be {{maxlength}}</div> 
<div ng-message="email">Email is not valid</div>                                   
<div ng-message="Unique">item with this already exists</div>                                   
<div ng-message="SSN">SSN number is not valid</div>
<div ng-message="Phone">Phone number is not valid</div>
