<form name="test">
<md-content  class="md-whiteframe-z2" layout-padding>
    <div> 
    	<h2 class="md-title">Demo For Date Range Picker</h2>	
	    <div layout="row">
	        <sm-range-picker-input
	                fname="Date of Pay" 
	                lable="Date of Pay"
	                form="test"
	                min-date="11-10-2015" 
	                value="vm.employee.dateOfPay" 
	                flex="50"                         
	                is-required="{{true}}" 
	                format="MM-DD-YYYY"
	                divider=":"
	                mode="date-time" 
	                week-start-day="Sunday">
	        </sm-range-picker-input>
	    </div>

    </div>
</md-content>    	
</form>