<md-content  class="md-whiteframe-z2" layout-padding>
    <div>
    Attributes Details
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                    <th>Desription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>fname</td>
                    <td>Field name</td>
                    <td>Field Name</td>             
                </tr>
                <tr>
                    <td>lable</td>
                    <td>Lable for field</td>
                    <td>Lable for field</td>                
                </tr>
                <tr>
                    <td>form</td>
                    <td>form control name</td>
                    <td>form control name</td>              
                </tr>
                <tr>
                    <td>value</td>
                    <td>ng-Model</td>
                    <td>ng-Model value here</td>                
                </tr>
                <tr>
                    <td>flex-size</td>
                    <td>Flex size to setup</td>
                    <td>Flex size to setup</td>             
                </tr>
                <tr>
                    <td>format</td>
                    <td>date format</td>
                    <td>Moment Js accepted date format</td>             
                </tr>
                <tr>
                    <td>mode</td>
                    <td>Date picker or Date Time picker mode</td>
                    <td>if DateTime Mode put 'date-time' else keep blank</td>               
                </tr>
                <tr>
                    <td>is-required</td>
                    <td>is field is required</td>
                    <td>True or false</td>              
                </tr>                               
            </tbody>
        </table>
    </div>
    <div>
        Support Swipe left and right for date movement.
    </div>
    <div>
        <code>
            <p>
            &lt;sm-date-time-picker</br> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fname="Time Logged In"</br> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lable="loginTime"</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;form="empForm" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value="vm.employee.logintime" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flex="100"</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is-required="true" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;format="HH:mm" </br>&gt;</br>
            &lt;/sm-date-time-picker&gt;        </br>
            </p>
        </code>
    </div>

    <div>
        Need your feedback.
    </div>

</md-content>
