<md-content  class="md-whiteframe-z2" layout-padding>
	<div>
	Attributes Details
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>Attribute</th>
					<th>Value</th>
					<th>Desription</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>fname</td>
					<td>Field name</td>
					<td>Field Name</td>				
				</tr>
				<tr>
					<td>lable</td>
					<td>Lable for field</td>
					<td>Lable for field</td>				
				</tr>
				<tr>
					<td>form</td>
					<td>form control name</td>
					<td>form control name</td>				
				</tr>
				<tr>
					<td>value</td>
					<td>ng-Model</td>
					<td>ng-Model value here</td>				
				</tr>
				<tr>
					<td>mode</td>
					<td>select mode either date or dateTime</td>
					<td>date or date-time</td>				
				</tr>		
				<tr>
					<td>format</td>
					<td>date format</td>
					<td>Moment Js accepted date format</td>				
				</tr>
				<tr>
					<td>divider</td>
					<td>Divider between two dates</td>
					<td>Defalt value is 'To' </td>				
				</tr>				
				<tr>
					<td>is-required</td>
					<td>is field is required</td>
					<td>True or false</td>				
				</tr>		
				<tr>
					<td>show-custom	</td>
					<td>start range picker with custome date mode</td>
					<td>True or false</td>				
				</tr>		
				<tr>
					<td>custom-to-home</td>
					<td>Go back to Defualt view from Custom view</td>
					<td>True or false</td>				
				</tr>		
				<tr>
					<td>on-range-select</td>
					<td>call back function that return selected range as object with startDate and endDate</td>
					<td>on-range-select="vm.yourCallbackFun(date)"</td>				
				</tr>						
			</tbody>
		</table>
	</div>
	<div>
		Support Swipe left and right for date movement.
	</div>
	<div>
		<code>
			<p>
			&lt;sm-range-picker-input</br> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fname="joiningDate"</br> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lable="Date of Joining"</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;form="empForm" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value="vm.employee.joiningDate" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flex-size="100"</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is-required="{{true}}" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;format="MM-DD-YYYY" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;on-range-select="vm.yourCallbackFun(date)"</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;divider="To"&gt;</br>
            &lt;/sm-range-picker-input&gt;</br>
            </p>
		</code>
	</div>
	<div>
		<code>
			<p>
			&lt;sm-range-picker-input</br> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fname="joiningDate"</br> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lable="Date of Joining"</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;form="empForm" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value="vm.employee.joiningDate" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flex-size="100"</br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;is-required="{{true}}" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;format="MM-DD-YYYY" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;custom-to-home="'true'" </br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;show-custom="'true'"</br>                
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;divider="To"&gt;</br>

            &lt;/sm-range-picker-input&gt;</br>
            </p>
		</code>
	</div>

	<div>
		Need your feedback.
	</div>

</md-content>
