<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Date Time Picker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- build:css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="demoApp" ng-clock>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
      <md-content class="container main" layout="row" ng-init="toogle = false" ng-controller="MainCtrl as vm">
              <md-sidenav
          layout="column"
          class="main-left-menu md-sidenav-left"
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar layout="center center" class="left-menu-header md-whiteframe-1dp">
                <div layout-align="center center" class="logo" layout="row">
                    <span class="logo-image">D</span>
                    <span class="logo-text">Date Picker</span>
                                    {{$state.$current.data.title}}
                </div>
                <div layout-align="center center" layout>
                    <md-button class="md-icon-button" ng-click="vm.toggleMenuMinimize()">
                        <md-icon class="material-icons fold-toggle">play_circle_filled</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <ul class="side-menu" ng-controller="MenuCtrl as vm" >
                <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
                    ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <h2 class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
                        {{section}}
                    </h2>
                    <menu-link section="section" ng-if="section.type === 'link' " ></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>
            </ul>


        </md-sidenav>
        <md-content layout="column" layout-fill class="right-container">
          <md-toolbar layout="row"  class="md-whiteframe-z2 animated md-tall" >
            <div class="md-toolbar-tools" >
              <span class="md-headline">Date Time Picker</span>
              <md-button aria-label="Open Sidebar" hide-gt-md class="md-icon-button" ng-click="vm.toggleLeft()">
                  <md-icon md-menu-align-target md-font-icon="material-icons" >menu</md-icon>
              </md-button>
              <span flex></span>
              <md-button class="md-icon-button" aria-label="log out" target="_blank" href="https://github.com/mominsamir/smDateTimeRangePicker/" >
                  <md-icon md-menu-align-target md-font-icon="material-icons" >open_in_new</md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <md-card layout="column"  class="main-container" flex style="top:-80px;z-index: 2;position: relative;margin: 24px;" >
                <div  layout-fill ui-view></div>
          </md-card>
        </md-content>
      </md-content>

        <!-- bower:js -->


        <!-- endbower -->

        <!-- build:js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="menu/menu.controller.js"></script>
        <script src="menu/menu.link.directive.js"></script>
        <script src="menu/menu.service.js"></script>
        <script src="menu/menu.toggle.directive.js"></script>

        <script src="picker/js/provider.js"></script>
        <script src="picker/js/calender-date.js"></script>
        <script src="picker/js/calender-hour.js"></script>
        <script src="picker/js/calender-picker.js"></script>
        <script src="picker/js/date-picker-service.js"></script>
        <script src="picker/js/date-time-picker.js"></script>
        <script src="picker/js/range-picker.js"></script>
        <script src="picker/js/range-picker-input.js"></script>
        <script src="picker/js/sm-time-picker.js"></script>
        <script src="picker/js/time-picker.js"></script>


        <!-- endbuild -->
        <!-- Place this tag in your head or just before your close body tag. -->
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script> 
        <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
