<div  class="hour-picker" >
	<div class="hour-container">
		<div layout="row" class="hour-header">
				<span flex="50">Hour</span>
				<span flex="50">Minute</span>
		</div>
		<div ng-if="vm.show">
			<md-virtual-repeat-container id="hour-container" class="hour-md-repeat" >
				<div md-virtual-repeat="h in vm.hourCells"  class="repeated-item" >
						<md-button class="md-icon-button" 
							ng-click="vm.setHour(h.hour)" 							
							ng-class="{'md-primary': h.isCurrent,
									'md-primary md-raised' :h.hour===vm.currentDate.hour()}">
							{{h.hour}}
						</md-button>
				</div>
			</md-virtual-repeat-container>		     
		</div>
		<div ng-if="vm.show">
			<md-virtual-repeat-container id="minute-container" class="minute-md-repeat" >
				<div md-virtual-repeat="m in vm.minuteCells"  class="repeated-item" >
						<md-button class="md-icon-button" 
							ng-click="vm.setMinute(m.minute)" 							
							ng-class="{'md-primary': m.isCurrent,
								'md-primary md-raised' :m.minute===vm.currentDate.minute()}">
							{{m.minute}}
						</md-button>
				</div>
			</md-virtual-repeat-container>		     
		</div>	
	</div>
</div>