'<div class="gj-calender">'
+'	<md-content  class="container md-whiteframe-15dp" >'
+'		<md-toolbar class="md-height header" >'
+'			<div class="md-toolbar-tools" layout="row">'
+'				<div layout="column" flex="100" class="">'
+'					<span flex ng-hide="vm.view===\'HOUR\'" class="md-subhead">{{currentDate.format(\'YYYY\')}}</span>'
+'					<span flex class="selected-date">'
+'						{{currentDate}}			'
+'					</span>'
+'				</div>'
+'			</div>	'
+'		</md-toolbar>'
+'		<div ng-show="view===\'DATE\'" >'
+'			<sm-calender '
+'				ng-model="selectedDate"'
+'				id="{{fname}}Picker" '
+'				data-mode="{{mode}}" '
+'				data-min-date="minDate"' 
+'				data-max-date="maxDate" ' 
+'				data-format="{{format}}" ' 
+'				data-start-day="{{weekStartDay}}">'
+'			</sm-calender>'
+'		</div>'
+'		<div ng-show="view===\'HOUR\'">'
+'			<sm-time'
+'				ng-model="selectedTime"'
+'				data-format="HH:mm">'
+'			</sm-time>'
+'		</div>		'
+'		<div class="action">'
+'			<div layout="row" layout-align="end center">'
+'				<div ng-show="mode===\'date-time\'">'
+'					<md-button class="md-icon-button" ng-show="view===\'DATE\'" ng-click="view=\'HOUR\'">'
+'						<md-icon md-font-icon="material-icons md-primary">access_time</md-icon>'
+'					</md-button>				'
+'					<md-button class="md-icon-button" ng-show="view===\'HOUR\'" ng-click="view=\'DATE\'">'
+'						<md-icon md-font-icon="material-icons md-primary">date_range</md-icon>'
+'					</md-button>'
+'				</div>			'									
+'				<span flex></span>'
+'				<md-button class="md-button md-primary" ng-click="closeDateTime()">Cancel</md-button>'
+'				<md-button class="md-button md-primary" ng-click="selectedDateTime()">Ok</md-button>'
+'			</div>'
+'		</div>'
+'	</md-content>'	
+'</div>'