<md-dialog class="picker-container  md-whiteframe-15dp" aria-label="picker">
	<md-content  layout-xs="column" layout="row"  class="container" >
		<md-toolbar class="md-height" ng-class="{'portrait': vm.viewModeSmall}"  layout="row" layout-xs="column">			
			<div class="md-toolbar-tools" ng-show="viewModeSmall">
				<div layout="column">
					<div layout="row" class="md-subhead year-header" ng-hide="mode==='time'" > 
						{{vm.currentDate.format('YYYY')}}
					</div>	
					<div class="date-time-header">
						<span flex class="date-display" ng-hide="mode==='time'">
							{{vm.currentDate.format('ddd, MMM DD')}}	 	
						</span>
						<span  class="time-display" ng-show="mode==='date-time' || mode==='time'">
							{{vm.currentDate.format('HH:mm')}}			
						</span>
					</div>					
				</div>
			</div>	
			<div ng-show="!viewModeSmall" style="width:130px;">
				<div layout="column" >
					<div layout="row" class="year-header" ng-hide="mode==='time'" > 
						{{vm.currentDate.format('YYYY')}}
					</div>
					<div layout="row" class="date-time-header" ng-hide="mode==='time'"> 
						{{vm.currentDate.format('ddd')}}
					</div>
					<div layout="row" class="date-time-header" ng-hide="mode==='time'"> 
						{{vm.currentDate.format('MMM, DD')}}											
					</div>
					<div layout="row" class="date-time-header" ng-show="mode==='date-time' || mode==='time'"> 
						{{vm.currentDate.format('HH:mm')}}			
					</div>
				</div>					
			</div>				
		</md-toolbar>
		<div layout="column" class="picker-container" >
			<div ng-show="vm.view==='DATE'" >
				<sm-calender 
					ng-model="vm.selectedDate"
					id="{{vm.fname}}Picker" 
					data-mode="{{vm.mode}}" 
					data-min-date="vm.minDate" 
					data-max-date="vm.maxDate" 
					close-on-select="{{vm.closeOnSelect}}"				 
					data-format="{{vm.format}}"  
					data-week-start-day="{{vm.weekStartDay}}">
				</sm-calender>
			</div>
			<div ng-show="vm.view==='HOUR'">
				<sm-time
					ng-model="vm.selectedTime"
					data-format="HH:mm">
				</sm-time>
			</div>		
 			<div layout="row" ng-hide="vm.closeOnSelect && (vm.mode!=='date-time' || vm.mode!=='time')">
					<div ng-show="vm.mode==='date-time'">
						<md-button class="md-icon-button" ng-show="vm.view==='DATE'" ng-click="vm.view='HOUR'">
							<md-icon md-font-icon="material-icons md-primary">access_time</md-icon>
						</md-button>				
						<md-button class="md-icon-button" ng-show="vm.view==='HOUR'" ng-click="vm.view='DATE'">
							<md-icon md-font-icon="material-icons md-primary">date_range</md-icon>
						</md-button>
					</div>												
					<span flex></span>
					<md-button class="md-button md-primary" ng-click="vm.closeDateTime()">Cancel</md-button>
					<md-button class="md-button md-primary" ng-click="vm.selectedDateTime()">Ok</md-button>
			</div>
		</div>
	</md-content>	
</md-dialog>