<div  class="date-picker">
			<div ng-show="vm.view==='YEAR_MONTH'" ng-class="{'year-container' : vm.view==='YEAR_MONTH'}"> 
				<md-virtual-repeat-container id="year-container" class="year-md-repeat" md-top-index="vm.yearTopIndex">
				      <div md-virtual-repeat="yr in vm.yearItems"  md-on-demand  class="repeated-item" flex>
						<md-button class="md-button" 
							aria-label="year"
							ng-click="vm.changeYear(yr)" 							
							ng-class="{'md-primary': yr === vm.currentDate.year(),
										'md-primary md-raised' :yr ===vvm.currentDate.year(),
										'selected-year md-primary':vm.initialDate.year()===yr}">
							{{yr}}
						</md-button>				          
				      </div>
				</md-virtual-repeat-container>		     
			</div>				
			<div ng-show="vm.view==='DATE'" ng-class="{'date-container' : vm.view==='DATE'}">
				<div layout="row" class="navigation" layout-align="space-between center">
						<md-button 
							ng-disabled="vm.stopScrollPrevious" 
							class="md-icon-button scroll-button" 
							aria-label="privious" 
							ng-click="vm.changePeriod('p')">
								<md-icon md-font-icon="material-icons">keyboard_arrow_left</md-icon>					
						</md-button>
						<md-button class="md-button" ng-class="vm.moveCalenderAnimation" ng-click="vm.changeView('YEAR_MONTH')">
							{{vm.monthList[vm.initialDate.month()]}}{{' '}}{{vm.initialDate.year()}}
						</md-button>			
						<md-button  
							ng-disabled="vm.stopScrollNext" 
							class="md-icon-button scroll-button" 
							aria-label="next" 
							ng-click="vm.changePeriod('n')">
							<md-icon md-font-icon="material-icons">keyboard_arrow_right</md-icon>	
						</md-button>				
				</div>			
				<div layout="row" class="date-cell-header">
					<md-button class="md-icon-button" md-autofocus ng-disabled="true" ng-repeat="dHead in vm.dateCellHeader">
						{{dHead[vm.dayHeader]}}
					</md-button>
				</div>		
				<div 
					md-swipe-right="vm.changePeriod('p')" 
					class="date-cell-row" 
					md-swipe-left="vm.changePeriod('n')" 
					ng-class="vm.moveCalenderAnimation">
					<div layout="row" ng-repeat="w in vm.dateCells" >
						<md-button
							ng-repeat="d in w"
							aria-label="vm.currentDate"
							class="md-icon-button"
							ng-click="vm.selectDate(d.date,d.isDisabledDate)"
							ng-disabled="d.isDisabledDate"
							ng-class="{'md-primary sm-today' : d.today,
								'active':d.isCurrentMonth,
								'md-primary md-raised selected' :d.date.isSame(vm.currentDate),
								'disabled':d.isDisabledDate}">
							<span>{{d.dayNum}}</span>
						</md-button>
					</div>
				</div>
			</div>
</div>
