@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* menu css  */
md-sidenav {
  background-color: #106CC8;
}

.bg-profile {
  height: 200px;
  background-color: #106CC8;
  background: linear-gradient(#185694, #106CC8);
  background: linear-gradient(top, #185694 0%, #106CC8 100%);
  border-bottom: 1px solid #267ED5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  z-index: 2;
}

.profile {
  color: white;
}
.profile .profile-img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(6, 55, 102, 0.5);
  margin-top: 15px;
  width: auto;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.profile .profile-name {
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
.profile .material-icons {
  outline: none;
  cursor: pointer;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.profile .show {
  font-size: 24px;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}
.profile .profile-details {
  text-align: center;
  transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.profile .detail-show {
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: height 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.profile.profile-email {
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 2px 5px 0px 5px;
}

.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  font-size: 16px;
}

.side-menu .md-button {
  background-color: #106CC8;
  border-radius: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  margin: 0;
  max-height: 48px;
  overflow: hidden;
  padding-left: 0px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
.side-menu .md-button md-icon {
  padding: 0px 16px;
  color: rgba(255, 255, 255, 0.7);
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  font-weight: bold;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  height: 48px;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 60px;
  text-transform: none;
}

.side-menu > li {
  border-top: 1px solid #267ED5;
  /* rgba(0, 0, 0, 0.12) */
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.side-menu .md-button-toggle .md-toggle-icon {
  background-size: 100% auto;
  float: right;
  display: inline-block;
  margin: auto 0 auto 0;
  color: rgba(255, 255, 255, 0.7);
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button:hover {
  background-color: #267ED5;
}

.menu-toggle-list {
  background: #106CC8;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

.side-menu menu-toggle span {
  padding-top: 12px;
  padding-bottom: 12px;
}

.toogle {
  transition: all linear 0.5s;
}

.toogle.ng-hide {
  opacity: 0;
}

.header-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* @import '_time_picker.scss';
 */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.body-bg {
  background: #e2e0e0;
}

.md-sidenav-left {
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.right-container {
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #e2e0e0;
}

.main-container {
  padding: 16px;
  height: 100vh;
  background: #e2e0e0;
  overflow-y: auto;
  overflow-x: hidden;
}

.md-content {
  margin: 16px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-30 {
  font-size: 30px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  outline: none;
}
table td, table th {
  padding: 3px;
  margin: 0;
}
table th {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  cursor: pointer;
  height: 54px;
  white-space: nowrap;
  position: relative;
  border-bottom: solid 1px rbga(0, 0, 0, 1);
  text-align: left;
}
table td {
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
  font-size: 15px;
  color: #212121;
  border-bottom: solid 1px rbga(0, 0, 0, 1);
}
table td:first-child, table th:first-child {
  padding: 0 0 0 24px;
}

code p {
  font-family: Consolas, Courier New, monospace;
  font-size: 14px;
  background-color: #e0d7d7;
  padding: 8px;
  border-radius: 5px;
}
